/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
*/
img,
object,
embed {max-width: 100%;}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: " "; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

body {
  font-family: museosanscyrl, sans-serif;
  color: white;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}
h1 {
  color: #2e3192;
  font-size: 40px;
  font-family: twentytwelvesans, sans-serif;
}
h2 {
  color: #2e3192;
  font-size: 20px;
  font-family: twentytwelvesans, sans-serif;
}
h3 {
  color: black;
  font-size: 18px;
  font-family: twentytwelvesans, sans-serif;
}
h4 {
  color: black;
  font-size: 16px;
  font-family: sans-serif;
}
.link {
  color: #2e3192;
  text-transform: uppercase;
  display: inline-block;
  // text-decoration: none;
  // border-bottom: 1px solid #2e3192;
  cursor: pointer;
  // transition: border-color 0.2s;
  font-weight: 700;
}
.link:hover {
  // border-color: transparent;
  text-decoration: none;
}
p {
  font-weight: 300;
}

.hide {
  display: none;
}

.visible-tab,
.visible-768 {
  display: none;
}

@media (min-width: 768px) {
  .visible-tab,
.visible-768 {
    display: block;
  }
}
@media (min-width: 1201px) {
  .visible-tab-only {
    display: none;
  }
}
@media (min-width: 321px) {
  .visible-mob,
.visible-mob-only {
    display: none;
  }
}
.visible-desk,
.visible-1600 {
  display: none;
}
@media (min-width: 1600px) {
  .visible-desk,
.visible-1600 {
    display: block;
  }
}
.visible-1200 {
  display: none;
}
@media (min-width: 1200px) {
  .visible-1200 {
    display: block;
  }
}
@media (min-width: 1600px) {
  .hidden-desk,
.hidden-1600 {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hidden-1200 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hidden-tab {
    display: none;
  }
}
@media (max-width: 767px) {
  .hidden-mob {
    display: none;
  }
}
.relative {
  position: relative;
}

.h1--blue {
  color: #89BBE2;
}

a[href^="tel:"] {
  -webkit-appearance: none;
}

.no-link {
  color: inherit;
  text-decoration: none;
}

/* Временные стили для сокрытия нерабочих ссылок */
.subnav .dropdown ~ .subnav__link[href="#"] {
  display: none;
}
.footer .footer-nav {
  -ms-grid-rows: 40px 60px 48px 135px;
  grid-template-rows: 40px 60px 48px 135px;
}
@media (min-width: 768px) {
  .footer .footer-nav {
    -ms-grid-rows: 40px 60px 48px;
    grid-template-rows: 40px 60px 48px;
  }
}
@media (min-width: 1200px) {
  .footer .footer-nav {
    -ms-grid-rows: 49px 60px;
    grid-template-rows: 49px 60px;
  }
}
@media (min-width: 1200px) {
  .footer .footer-nav__nav-2 {
    padding-top: 9px;
  }
}
.main-nav__nav-2 .main-nav__link[href="#"] {
  visibility: hidden;
}
.footer-nav__nav-2 .footer-nav__link[href="#"] {
  display: none;
}
.students-s4__item {
    top: -67px !important;
    padding-bottom: 20px;
  }
.students-s4__date {
    display: none !important;
  }
.demo .selector__name--five {
}
.top-info {
  display: none !important;
}
.dropdown__content .dropdown__link:last-child {
  /* opacity: 0.7;
  color: #6B7587 !important;
  cursor: default; */
}
.button {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  background-color: #ff7e74;
  border-radius: 100px;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  -webkit-box-shadow: 0 14px 24px -3px rgba(235, 76, 63, 0.2);
          box-shadow: 0 14px 24px -3px rgba(235, 76, 63, 0.2);
}
.button:active,
.button:focus {
  background-color: #ed5a4e;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@font-face {
  font-family: 'twentytwelvesans';
  src: url(src/fonts/twentytwelve_sans_c-webfont.woff2) format('woff2'),
    url(src/fonts/twentytwelve_sans_c-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'museosanscyrl';
  src: url(src/fonts/museosanscyrl_300-webfont.woff2) format('woff2'),
    url(src/fonts/museosanscyrl_300-webfont.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'museosanscyrl';
  src: url(src/fonts/museosanscyrl_700-webfont.woff2) format('woff2'),
    url(src/fonts/museosanscyrl_700-webfont.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.header {
  background-image: url(src/img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

  .header__wrap {
    background: linear-gradient(212.12deg, rgba(0, 84, 166, 0.9) -5.83%, rgba(46, 49, 146, 0.9) 70.06%);

  }

  .header__bottom {
    display: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

@media (min-width: 1200px) {

  .header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__counter-1 {
    font-family: twentytwelvesans;
    font-size: 150px;
    color: #061978;
    margin-left: auto;
    margin-right: 34px;
}

.header__counter-2 {
    font-family: twentytwelvesans;
    font-size: 40px;
    color: #061978;
}

@media (max-width: 1199px) {
  .subnav--active + .header .main-nav {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.main-nav {
  color: #061D72;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);

}

  .main-nav .main-nav__logo-link--white {
    display: none;
  }

  .main-nav .main-nav__logo-link--portrait {
    display: none;
  }

@media (min-width: 1200px) {

  .main-nav .main-nav__logo-link--landscape {
      display: none;

  }

  .main-nav .main-nav__logo-link--portrait.main-nav__logo-link--blue {
      display: block;

  }

}

.main-nav__content {
    padding-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 40px 48px;
    -ms-grid-columns: 1fr 89px 16px;
    grid-template-rows: 40px 48px;
    grid-template-columns: 1fr 89px 16px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;

}

@media (min-width: 650px) {

  .main-nav__content {
    padding-top: 15px;
    -ms-grid-rows: 39px;
    -ms-grid-columns: 134px 1fr 75px 16px;
    grid-template-rows: 39px;
    grid-template-columns: 134px 1fr 75px 16px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 11px;

  }

}

@media (min-width: 1200px) {

  .main-nav__content {
    -ms-grid-columns: 142px 1fr 55px;
    -ms-grid-rows: 63px 59px;
    grid-template-columns: 142px 1fr 55px;
    grid-template-rows: 63px 59px;
    border-bottom: none;
    grid-gap: 0;
    padding-top: 16px;
    padding-bottom: 0;

  }

}

.main-nav__logo {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    grid-column: 1;
    grid-row: 1;

}

@media (min-width: 1200px) {

  .main-nav__logo {
    -ms-grid-row-span: 2;

  }

}

.main-nav__lang {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    grid-column: 2;
    grid-row: 1;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

@media (min-width: 650px) {

  .main-nav__lang {
    grid-column: 3;

  }

}

@media (min-width: 1200px) {

  .main-nav__lang {
    -ms-grid-row: 2;
    grid-row: 2;
    font-size: 13px;

  }

}

.main-nav__lang .main-nav__link {
      padding: 10px 8px;

}

@media (min-width: 650px) {

  .main-nav__lang .main-nav__link {
    padding: 10px 7px;

  }

}

.main-nav__menu-btn-wrap {
    grid-column: 3;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-row: 1;
    display: -ms-flexbox;
    -ms-flex-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    fill: #061D72;

}

@media (min-width: 650px) {

  .main-nav__menu-btn-wrap {
    -ms-grid-column: 4;
    grid-column: 4;

  }

}

@media (min-width: 1200px) {

  .main-nav__menu-btn-wrap {
    display: none;

  }

}

.main-nav__link {
    border-color: #DDE5ED;

}

.main-nav__nav-1 {
    grid-column: 1/4;
    grid-row: 2;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    -ms-flex-direction: row;
    -ms-flex-pack: justify;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #DDE5ED;
    margin-top: 10px;

}

@media (min-width: 650px) {

  .main-nav__nav-1 {
    grid-column: 2;
    grid-row: 1;
    border-top: none;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-column-span: 1;
    /* следующее правило ие10 игнорирует */
    -ms-flex-pack: end;
    /* поэтому просто поставим отступ */
    padding-left: 40px;

  }

  .main-nav__nav-1 .main-nav__link {
        margin-right: 28px;

  }

}

@media (min-width: 1200px) {

  .main-nav__nav-1 {
    grid-column: 2/4;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 55px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;

  }

  .main-nav__nav-1 .main-nav__link {
        margin: 0;
        padding-right: 42px;

  }

  .main-nav__nav-1 .main-nav__link:not(:first-child) {
        padding-left: 42px;

  }

  .main-nav__nav-1 .main-nav__link:not(:last-child) {
        border-right-width: 1px;
        border-right-style: solid;

  }

}

.main-nav__nav-1 .main-nav__link {
      display: -ms-flexbox;
      -ms-flex-align: center;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      // padding: 0;

}

.main-nav__nav-1 .dropdown {
      // left: 7px;
      z-index: 100;

}

@media (max-width: 1199px) {

  .main-nav__nav-1 .dropdown {
    display: none;

  }

}

.main-nav__nav-1 .dropdown__button {
        -webkit-box-shadow: none;
                box-shadow: none;
        background: transparent;
        height: 100%;
        padding-left: 40px;

}

.main-nav__nav-1 .dropdown__title {
        font-size: 13px;

}

.main-nav__nav-1 .dropdown__title:hover {
  text-decoration: underline;

}

.main-nav__nav-1 .dropdown__content {
        width: 303px;
        top: 82px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding-top: 6px;

}

.main-nav__nav-1 .dropdown__content::before {
  content: '';
  display: block;
  position: absolute;
  top: -6px;
  right: 80px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 6px 5.5px;
  border-color: transparent transparent #ffffff transparent;

}

.main-nav__nav-2 {
    position: relative;
    display: -ms-grid;
    -ms-grid-columns: auto auto auto auto auto auto auto;
    -ms-grid-rows: auto;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    display: grid;
    grid-row: 1/2;
    grid-column: 2/4;
    grid-template: auto / repeat(7, auto);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #DDE5ED;
    text-transform: none;
    font-size: 14px;
    margin-top: 9px;

}

@media (max-width: 1199px) {

  .main-nav__nav-2 {
    display: none;

  }

}

.main-nav__nav-2 .main-nav__link--contacts {
      text-align: right;
      -ms-grid-row: 1;
      -ms-grid-column: 7;
      grid-row: 1;
      grid-column: 7;
      min-width: 75px;
      position: absolute;
      top: 0;
      right: 0;

}

.main-nav__link {
    text-decoration: none;
    color: inherit;

}

.main-nav__link:hover {
  text-decoration: underline;

}

.main-nav__close-menu {
  display: none;
}
.subnav--active + .header .main-nav__close-menu {
  display: block;
}

.subnav--active + .header .main-nav__open-menu {
  display: none;
}
.footer {
  color: white;
  background: #1C3167;
}
@media (min-width: 768px) {
  .footer {}
}
@media (min-width: 1200px) {
  .footer {
    padding-bottom: 9px;
  }
}
.footer__copy {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 121px;
    grid-template: 1fr / 1fr 121px;
    height: 110px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid rgba(255,255,255,0.1);
}
@media (min-width: 768px) {
  .footer__copy {
    height: 88px;
    padding-bottom: 6px;
  }
}
@media (min-width: 1200px) {
  .footer__copy {
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    border-top: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row-align: center;
    height: 160px;
  }
}
.footer__copy h1 {
      display: none;
}
@media (min-width: 1200px) {
  .footer__copy h1 {
    display: block;
    font-size: 20px;
    color: white;
    grid-column: 1;
    -ms-grid-column: 1;
    -ms-grid-column-align: end;
    -ms-grid-row-align: center;
  }
}
.footer__copytext {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 5px;
    -ms-grid-row-align: center;
}
@media (min-width: 768px) {
  .footer__copytext {
    font-size: 12px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .footer__copytext {
    -ms-grid-column: 2;
    grid-column: 2;
    justify-self: center;
    font-size: 14px;
    -ms-grid-column-align: end;
    -ms-grid-row-align: center;
  }
}
.footer__copy-org {
    display: block;
    margin-bottom: 5px;
}
.footer__liondigital {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row-align: center;
    grid-column: 2;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    font-weight: 500;
}
@media (min-width: 768px) {
  .footer__liondigital {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 15px;
  }
}
@media (min-width: 1200px) {
  .footer__liondigital {
    grid-column: 3;
    -ms-grid-column: 3;
    margin: 0;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: end;
    margin-bottom: 15px;
    -ms-grid-column-align: end;
    -ms-grid-row-align: center;
  }
}
.footer__liondigital img {
      margin-top: 6px;
}

.footer-nav {
  display: -ms-grid;
  -ms-grid-columns: 175px 1fr;
  -ms-grid-rows: 40px 60px 48px 379px;
  display: grid;
  grid-template-columns: 175px 1fr;
  grid-template-rows: 40px 60px 48px 379px;
  padding-top: 20px;
  grid-row-gap: 22px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer-nav {
    grid-template-rows: 39px 47px 75px;
    grid-template-columns: 134px 1fr 75px;
    -ms-grid-rows: 39px 47px 75px;
    -ms-grid-columns: 134px 1fr 75px;
    grid-row-gap: 25px;
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  .footer-nav {
    grid-template-columns: 142px 1fr 75px;
    grid-template-rows: 54px 59px;
    -ms-grid-columns: 142px 1fr 75px;
    -ms-grid-rows: 54px 59px;
    grid-gap: 0;
    padding-top: 74px;
    border-bottom: none;
  }
}
.footer-nav__logo {
    grid-column: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}
@media (min-width: 768px) {
  .footer-nav__logo {
    grid-column: 1;
    grid-row: 1/3;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
  }
}
.footer-nav__info {
    padding-top: 5px;
    font-size: 16px;
    font-family: twentytwelvesans;
    font-weight: normal;
    text-transform: none;
    -ms-grid-row: 2;
    -ms-grid-column-span: 2;
    grid-row: 2;
    grid-column: 1/-1;
}
@media (min-width: 768px) {
  .footer-nav__info {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .footer-nav__info {
    display: none;
  }
}
.footer-nav__to-top {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-row: 1;
    grid-column: 2;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: end;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: end;
            justify-content: flex-end;
    cursor: pointer;
}
@media (min-width: 768px) {
  .footer-nav__to-top {
    -ms-grid-column: 3;
    grid-column: 3;
  }
}
@media (min-width: 1200px) {
  .footer-nav__to-top {
    -ms-grid-row: 2;
    grid-row: 2;
    font-size: 13px;
  }
  .footer-nav__to-top svg {
        margin-right: 11px;
  }
}
.footer-nav__to-top svg {
      margin-right: 9px;
}
.footer-nav__nav-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 3;
    grid-column: 1/4;
    grid-row: 3;
    display: -ms-flexbox;
    -ms-flex-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
    /* justify не хочет работать */
    -ms-flex-pack: center;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
@media (min-width: 768px) {
  .footer-nav__nav-1 {
    grid-column: 1/-1;
    grid-row: 2;
  }
}
@media (min-width: 1200px) {
  .footer-nav__nav-1 {
    grid-column: 2/4;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 55px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .footer-nav__nav-1 .footer-nav__link {
        margin: 0;
        padding-right: 42px;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
                justify-content: center;
        -ms-flex-pack: center;
  }
  .footer-nav__nav-1 .footer-nav__link:not(:first-child) {
        padding-left: 42px;
  }
  .footer-nav__nav-1 .footer-nav__link:not(:last-child) {
        border-right: 1px solid rgba(255,255,255,0.1);
  }
}
.footer-nav__nav-1 .footer-nav__link + .footer-nav__link {
      margin-left: 10px;
}
.footer-nav__nav-2 {
    grid-row: 4;
    grid-column: 1/-1;
    padding: 15px 0 36px 0;
    font-weight: 300;
    font-size: 12px;
    text-transform: none;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    font-size: 12px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-pack: justify;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
}
@media (min-width: 768px) {
  .footer-nav__nav-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    grid-row: 3;
    padding-top: 9px;
    font-size: 12px;
    padding-bottom: 0;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .footer-nav__nav-2 {
    grid-area: 1/2/2/4;
    padding-top: 0;
    font-size: 14px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
}
.footer-nav__nav-2 a {
      display: block;
      margin-bottom: 30px;
}
.footer-nav__link {
    text-decoration: none;
    color: inherit;
}
.footer-nav__link:hover {
  text-decoration: underline;
}
.subnav {
  display: none;
  position: fixed;
  z-index: 100;
  height: 100%;
  padding: 138px 20px 20px 20px;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background: #FAFBFC;
  overscroll-behavior: none;
}
@media (min-width: 768px) {
  .subnav {
    padding: 101px 40px 40px 40px;
  }
}
@media (max-width: 1199px) {
  .subnav--active {
      display: block;
  }
}
.subnav__link {
    color: #6B7587;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding: 15px 0;
}
.subnav__link + .subnav__link {
      border-top: 1px solid #DDE5ED;
    }
@media (min-width: 768px) {
  .subnav__link {
    font-size: 20px;
    padding: 22px 0;
  }
}
.subnav .dropdown {
    margin-bottom: 24px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.top-info {
  background-color: #061d72;
  cursor: pointer;
  color: white;
}

  .top-info--legacy-warning {
    background-color: #FF5722;
  }
.top-info__text {
  margin-right: 10px;
}
.top-info__close {
  margin-left: auto;
}
.top-info__close svg {
  fill: white;
  width: 16px;
  height: 16px;
}
.top-info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 50px;
}

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-bioinfra {
  background-image: url(src/img/sprite.png);
  background-position: 0px -35px;
  width: 175px;
  height: 31px;
}
.icon-cardio {
  background-image: url(src/img/sprite.png);
  background-position: 0px 0px;
  width: 204px;
  height: 35px;
}
.icon-rocs {
  background-image: url(src/img/sprite.png);
  background-position: 0px -66px;
  width: 133px;
  height: 36px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-bioinfra {
    background-image: url(src/img/sprite@2x.png);
    background-size: 204px 102px;
  }
  .icon-cardio {
    background-image: url(src/img/sprite@2x.png);
    background-size: 204px 102px;
  }
  .icon-rocs {
    background-image: url(src/img/sprite@2x.png);
    background-size: 204px 102px;
  }
}

.slider {
  position: relative;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .slider {
    width: 100%;
    margin: 0 auto;
  }
}
.slider__pic {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center top;
    opacity: 0;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
}
.slider__pic--active {
      opacity: 1;
    }
.slider__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px  ;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#1D3269));
    background-image: linear-gradient(transparent, #1D3269);
    padding-top: 51px;
}
@media (min-width: 768px) {
  .slider__content {
    padding-top: 155px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1600px) {
  .slider__content {
    padding-top: 203px;
    padding-bottom: 50px;
  }
}
.slider h1 {
    font-size: 30px;
    color: white;
    margin-bottom: 39px;
}
@media (min-width: 1600px) {
  .slider h1 {
    font-size: 40px;
    margin-bottom: 105px;
  }
}
.slider h2 {
    font-size: 20px;
    line-height: normal;
    margin-top: 181px;
    margin-bottom: 62px;
    color: white;
}
@media (min-width: 768px) {
  .slider h2 {
    margin-top: 129px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .slider h2 {
    margin-top: 191px;
    margin-bottom: 65px;
    font-size: 24px;
  }
}
.slider__progress {
    position: relative;
    height: 4px;
    margin-bottom: 40px;
    overflow: hidden;
}
@media (min-width: 768px) {
  .slider__progress {
    margin-bottom: 34px;
  }
}
@media (min-width: 1600px) {
  .slider__progress {
    margin-bottom: 67px;
  }
}
.slider__progress:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 1px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.slider__progress div {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background-color: #fff;
}
@media (min-width: 768px) {
  .slider__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
  }
}
.slider__items::after {
  display: block;
  content: "";
  clear: both;
}
.slider__item {
    position: relative;
    padding-left: 82px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    margin-bottom: 32px;
    max-width: 310px;
    color: white;
}
@media (min-width: 768px) {
  .slider__item {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1599px) {
  .slider__item img[src*=bulb] {
        margin-top: 5px;
  }
}
@media (min-width: 1600px) {
  .slider__item {
    padding-left: 110px;
    max-width: 100%;
  }
}
.slider__item-img-cnt {
    width: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .slider__item-img-cnt {
    position: static;
    margin-bottom: 25px;
    height: 64px;
  }
}
@media (min-width: 1600px) {
  .slider__item-img-cnt {
    width: 100px;
  }
}

.end {
  position: relative;
  background-image: url(src/img/end-bg-tab.jpg);
  background-position: 24% center;
  background-size: cover;
  font-size: 14px;
  font-family: museosanscyrl;
  text-align: center;
  color: white;
  font-weight: 300;
}
@media (min-width: 768px) {
  .end {
    background-image: url(src/img/end-bg-desk.jpg);
    background-position: center center;
  }
}
.end__content-wrap {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 37, 94, 0.5)), to(#1D3269));
    background-image: linear-gradient(rgba(14, 37, 94, 0.5), #1D3269);
}
.end__content {
    padding-top: 64px;
    padding-bottom: 67px;
}
@media (min-width: 768px) {
  .end__content {
    padding-top: 140px;
    min-height: 690px;
  }
}
@media (min-width: 1600px) {
  .end__content {
    padding-top: 260px;
    min-height: 860px;
  }
}
.end h1 {
    font-size: 30px;
    font-weight: normal;
    font-family: twentytwelvesans;
    margin-bottom: 50px;
    color: white;
}
@media (min-width: 768px) {
  .end h1 {
    margin-bottom: 37px;
  }
}
@media (min-width: 1600px) {
  .end h1 {
    font-size: 40px;
    margin-bottom: 46px;
  }
}
.end .container {
    max-width: 468px;
}
@media (min-width: 768px) {
  .end .container {
    max-width: 505px;
  }
}
@media (min-width: 1600px) {
  .end .container {
    max-width: 680px;
  }
}
.end .link {
    color: #87CFFF;
    text-transform: none;
    font-weight: 300;
}
.end p {
    line-height: 19px;
    margin-bottom: 26px;
}
@media (min-width: 1600px) {
  .end p {
    line-height: 22px;
    font-size: 16px;
  }
}
.end__btn-cnt {
    margin-top: 70px;
}
@media (min-width: 768px) {
  .end__btn-cnt {
    margin-top: 42px;
  }
}
@media (min-width: 1600px) {
  .end__btn-cnt {
    margin-top: 54px;
  }
}
.end .button {
    padding: 0 35px;
}
.breadcrumbs__inner {
    background: rgba(6, 29, 114, 0.3);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 26px;
    padding: 0 18px;
  }

  .breadcrumbs a {
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #FFFFFF
  }

  .breadcrumbs a:hover,
    .breadcrumbs a:last-child {
    text-decoration: none;
}

  .breadcrumbs a + a {
    padding-left: 40px;
    position: relative
  }

  .breadcrumbs a + a::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 8px;
    top: 4px;
    left: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cuse xlink:href='%23path0_fill' fill='%23FFF' opacity='1'/%3E%3Cdefs%3E%3Cpath id='path0_fill' fill-rule='evenodd' d='M2 1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM1 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/%3E%3C/defs%3E%3C/svg%3E");
}

.dropdown {
  position: relative;
  cursor: pointer;
  min-width: 315px;
}

  .dropdown__button {
    width: 100%;
    height: 54px;
    position: relative;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 14px 40px rgba(43, 60, 105, 0.1);
            box-shadow: 0px 14px 40px rgba(43, 60, 105, 0.1);
    border-radius: 6px;
    padding: 0 39px 0 19px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative
  }

  .dropdown__button::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 4px;
  right: 20px;
  top: 50%;
  margin-top: -2px;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='4' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M3.498 0L7 4H0l3.498-4z' transform='rotate(180 3.5 2)' fill='%23061D72' /%3E%3C/svg%3E");
}

  .dropdown--open .dropdown__button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
}

  .dropdown__title {
    font-weight: 700;
    line-height: normal;
    font-size: 10px;
    text-transform: uppercase;
    color: #061D72;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .dropdown__content {
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    display: none;
    background: white;
    -webkit-box-shadow: 0px 14px 40px rgba(43, 60, 105, 0.1);
            box-shadow: 0px 14px 40px rgba(43, 60, 105, 0.1);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .dropdown--open .dropdown__content {
      display: block;
    }

  .dropdown__link {
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    color: #6B7587;
    text-decoration: none;
    padding: 18px;
    display: block;
    text-transform: none;
  }

  .dropdown__link--active, .dropdown__link:hover {
      background: #FAFBFC;
      color: #061D72;
    }

@media (min-width: 768px) {

  .dropdown__link {
    padding: 23px 18px;
  }
}
.styled-list {
  margin-bottom: 30px;
  padding-left: 14px;
  list-style-image: url("data:image/svg+xml,%3Csvg width='6' height='6' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath fill='%2389BBE2' d='M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z'/%3E%3C/svg%3E");
}

  .styled-list li {
    padding-left: 6px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 18px;
    line-height: 18px;
  }

@media (min-width: 768px) {

  .styled-list li {
    margin-bottom: 54px;
  }
}

@media (min-width: 1200px) {

  .styled-list li {
    margin-bottom: 17px;
  }
}
.popup {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 14px 40px rgba(43, 60, 105, 0.1);
          box-shadow: 0px 14px 40px rgba(43, 60, 105, 0.1);
  border-radius: 6px;
  max-width: 1163px;
  position: relative;
  overflow: hidden;
}

  .popup__heading {
    height: 94px;
    background-size: cover;
    background-position: center bottom;
    background-image: url(src/img/popup/4.jpg);
  }

  .popup__heading .popup--index-research,
    .popup__heading .popup--personalised-research,
    .popup__heading .popup--personalised-research-head,
    .popup__heading .popup--translational-research,
    .popup__heading .popup--regenerative-research,
    .popup--molecular-research .popup__heading {
      background-image: url(src/img/popup/6.jpg);
    }

  .popup--index-consult .popup__heading,
    .popup--personalised-consult .popup__heading,
    .popup--translational-consult .popup__heading,
    .popup--regenerative-consult .popup__heading,
    .popup--molecular-consult .popup__heading {
      background-image: url(src/img/popup/1.jpg);
    }

  .popup--business-dev .popup__heading {
      background-image: url(src/img/popup/5.jpg);
    }

  .popup--business-consult .popup__heading {
      background-image: url(src/img/popup/2.jpg);
    }

  .popup--business-dialog .popup__heading {
      background-image: url(src/img/popup/3.jpg);
    }

@media (min-width: 768px) {

  .popup__heading {
    height: 113px;
  }
}

@media (min-width: 1200px) {

  .popup__heading {
    height: 180px;
  }
}

.popup--sent .popup__heading {
      height: 0;
}

.popup__content {
    padding: 23px 20px 31px 20px;
}

@media (min-width: 768px) {

  .popup__content {
    padding: 0 40px;
  }
}

@media (min-width: 1200px) {

  .popup__content {
    padding: 0 97px 0 67px;
  }
}

.popup--sent .popup__content {
      max-width: 585px;
      display: block;
      padding: 50px 40px;
      text-align: center;
}

@media (min-width: 768px) {

  .popup--sent .popup__content {
    padding: 120px 90px 97px 90px;
  }
}

.popup--sent .popup__content .button {
        margin-top: 40px;
}

.popup__text {
    margin-bottom: 31px;
}

@media (min-width: 768px) {

  .popup__text {
    padding-top: 62px;
    padding-right: 20px;
    padding-bottom: 40px;
    width: 50%;
    float: left;
  }
}

@media (min-width: 1200px) {

  .popup__text {
    padding-top: 108px;
    width: 53%;
  }
}

.popup--sent .popup__text {
      display: none;
}

@media (min-width: 768px) {

  .popup__form {
    padding: 71px 0 69px 44px;
    border-left: 1px solid #DDE5ED;
    float: right;
    width: 50%;
  }
}

@media (min-width: 1200px) {

  .popup__form {
    padding: 119px 34px 148px 95px;
    width: 47%;
  }
}

.popup--sent .popup__form {
      display: none;
}

.popup__form-requider-help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    color: #7E899E;
}

.popup__form-requider-help svg {
      margin-right: 10px;
      margin-top: 4px;
    }

.popup__success-msg {
    display: none;
}

.popup--sent .popup__success-msg {
      display: block;
    }

.popup__success-msg h1 {
      margin-bottom: 20px;
    }

@media (min-width: 768px) {

  .popup__success-msg h1 {
    font-size: 40px !important;
  }
}

@media (min-width: 768px) {

  .popup__success-msg p {
    font-size: 24px;
  }
}

@media (min-width: 768px) {

  .popup__success-msg .button {
    max-width: 256px;
    margin-top: 60px;
  }
}

.popup h1 {
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #2E3192;
    font-family: twentytwelvesans;
}

@media (min-width: 768px) {

  .popup h1 {
    font-size: 30px;
    margin-bottom: 21px;
  }
}

@media (min-width: 1200px) {

  .popup h1 {
    font-size: 40px;
    margin-bottom: 31px;
  }
}

.popup p {
    line-height: normal;
    font-size: 14px;
    color: #7E899E;
    margin: 10px 0;
    font-family: twentytwelvesans;
}

@media (min-width: 768px) {

  .popup p {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {

  .popup p {
    font-size: 24px;
  }
}

.popup .button {
    width: 100%;
    height: 59px;
}

@media (min-width: 1200px) {

  .popup .button {
    margin-top: 8px;
  }
}

.popup__input-wrap {
    display: block;
    background: #FFF;
    border-bottom: 1px solid #DDE5ED;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    color: #2E3192;
    margin-bottom: 35px;
    position: relative;
}

.popup__input-wrap::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 63px;
  height: 100%;
  width: 1px;
}

.popup__input-wrap input {
      width: 100%;
      height: 100%;
      padding-bottom: 10px;
      -webkit-appearance: none;
      border: none;
      border-bottom: 1px solid transparent;
      background: transparent;
      color: inherit;
}

.popup__input-wrap input::-webkit-input-placeholder {
  color: #7E899E;
}

.popup__input-wrap input::-moz-placeholder {
  color: #7E899E;
}

.popup__input-wrap input::-ms-input-placeholder {
  color: #7E899E;
}

.popup__input-wrap input::placeholder {
  color: #7E899E;
}

.popup__input-wrap input:focus {
  border-color: rgb(46, 49, 146);
  outline: none;
}

.popup__input-wrap label.error {
      position: absolute;
      bottom: -18px;
      left: 0;
      color: #ff4747;
      text-transform: uppercase;
      font-size: 11px;
}

.popup__icon-wrap {
    display: none!important;
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #DDE5ED;
}

.popup__icon-close {
    cursor: pointer;
    position: absolute;
    top: 114px;
    right: 20px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.098 8L16 14.902 14.902 16 8 9.098l-6.902 6.9L0 14.9 6.902 8l-6.9-6.902L1.1 0 8 6.902 14.902 0 16 1.098 9.098 8z' fill='%232E3192'/%3E%3C/svg%3E");
    background-size: cover;
}

@media (min-width: 768px) {

  .popup__icon-close {
    top: 130px;
    right: 23px;
  }
}

@media (min-width: 1200px) {

  .popup__icon-close {
    top: 227px;
    right: 44px;
    width: 24px;
    height: 24px;
  }
}

.popup--sent .popup__icon-close {
      top: 20px;
      right: 20px;
}

@media (min-width: 768px) {

  .popup--sent .popup__icon-close {
    top: 53px;
    right: 44px;
    width: 24px;
    height: 24px;
  }
}

.popup__icon-user {
    width: 15px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 16.54c0 .252-.209.46-.465.46H.465A.465.465 0 0 1 0 16.54c0-4.06 3.358-7.35 7.5-7.35 4.142 0 7.5 3.29 7.5 7.35zM7.5 8.27c-2.329 0-4.219-1.852-4.219-4.135C3.281 1.852 5.171 0 7.501 0c2.328 0 4.218 1.852 4.218 4.135 0 2.283-1.89 4.135-4.219 4.135z' fill='url(%23popup-icon-user)' opacity='.9'/%3E%3Cdefs%3E%3ClinearGradient id='popup-icon-user' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-6.22969 19.1431 -18.4622 -22.3582 22.96 7.59)'%3E%3Cstop stop-color='%230054A6'/%3E%3Cstop offset='1' stop-color='%232E3192'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.popup__icon-tel {
    width: 27px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.872 3.757c-.221-.368-.393-.76-.64-1.104-.736-1.078-1.768-1.815-3.02-2.231-.345-.098-.664-.245-.984-.343-.737-.22-1.327.024-1.647.711-.147.32-.294.662-.368 1.03a34.574 34.574 0 0 0-.393 2.208c-.05.343 0 .711.073 1.054.148.663.614 1.08 1.253 1.276l1.327.441c.664.197 1.008.613 1.106 1.275.123.712 0 1.398-.172 2.085-.32 1.3-.786 2.55-1.425 3.704-.295.539-.639 1.03-1.154 1.372-.443.32-.934.344-1.426.123a32.77 32.77 0 0 0-1.4-.564c-.86-.294-1.572-.099-2.162.589-.27.319-.492.638-.688.981-.344.613-.64 1.226-.934 1.864-.098.22-.148.442-.197.686-.098.638.147 1.128.712 1.374.786.32 1.572.686 2.409.81a5.822 5.822 0 0 0 3.096-.343c1.4-.564 2.506-1.521 3.415-2.698.812-1.03 1.426-2.159 1.967-3.36.835-1.89 1.474-3.826 1.769-5.862.172-1.252.197-2.502-.074-3.729-.049-.27-.147-.54-.197-.784a41.534 41.534 0 0 1-.246-.565z' transform='rotate(120 9.99 12.826)' fill='url(#popup-icon-tel.html)' opacity='.9'/%3E%3Cdefs%3E%3ClinearGradient id='popup-icon-tel' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-5.61437 23.8426 -16.6387 -27.8471 20.693 9.452)'%3E%3Cstop stop-color='%230054A6'/%3E%3Cstop offset='1' stop-color='%232E3192'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.popup__icon-email {
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 511.626 511.626'%3E%3Cg fill='%233f489f'%3E%3Cpath d='M49.106 178.729c6.472 4.567 25.981 18.131 58.528 40.685 32.548 22.554 57.482 39.92 74.803 52.099 1.903 1.335 5.946 4.237 12.131 8.71 6.186 4.476 11.326 8.093 15.416 10.852 4.093 2.758 9.041 5.852 14.849 9.277 5.806 3.422 11.279 5.996 16.418 7.7 5.14 1.718 9.898 2.569 14.275 2.569h.575c4.377 0 9.137-.852 14.277-2.569 5.137-1.704 10.615-4.281 16.416-7.7 5.804-3.429 10.752-6.52 14.845-9.277 4.093-2.759 9.229-6.376 15.417-10.852 6.184-4.477 10.232-7.375 12.135-8.71 17.508-12.179 62.051-43.11 133.615-92.79 13.894-9.703 25.502-21.411 34.827-35.116 9.332-13.699 13.993-28.07 13.993-43.105 0-12.564-4.523-23.319-13.565-32.264-9.041-8.947-19.749-13.418-32.117-13.418H45.679c-14.655 0-25.933 4.948-33.832 14.844C3.949 79.562 0 91.934 0 106.779c0 11.991 5.236 24.985 15.703 38.974 10.466 13.99 21.604 24.983 33.403 32.976z'/%3E%3Cpath d='M483.072 209.275c-62.424 42.251-109.824 75.087-142.177 98.501-10.849 7.991-19.65 14.229-26.409 18.699-6.759 4.473-15.748 9.041-26.98 13.702-11.228 4.668-21.692 6.995-31.401 6.995h-.578c-9.707 0-20.177-2.327-31.405-6.995-11.228-4.661-20.223-9.229-26.98-13.702-6.755-4.47-15.559-10.708-26.407-18.699-25.697-18.842-72.995-51.68-141.896-98.501C17.987 202.047 8.375 193.762 0 184.437v226.685c0 12.57 4.471 23.319 13.418 32.265 8.945 8.949 19.701 13.422 32.264 13.422h420.266c12.56 0 23.315-4.473 32.261-13.422 8.949-8.949 13.418-19.694 13.418-32.265V184.437c-8.186 9.132-17.7 17.417-28.555 24.838z'/%3E%3C/g%3E%3C/svg%3E");
}

.popup__icon-sent {
    width: 77px;
    height: 100px;
    margin: 0 auto 63px auto;
    background-image: url("data:image/svg+xml,%3Csvg width='77' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.759 11.668a1.67 1.67 0 0 0-1.671 1.664V20c0 .922.749 1.668 1.671 1.668h33.482A1.67 1.67 0 0 0 56.912 20v-6.668a1.67 1.67 0 0 0-1.671-1.664h-4.367c-2.672 0-5.104-1.676-6.203-4.262A6.696 6.696 0 0 0 38.5 3.332a6.696 6.696 0 0 0-6.171 4.074c-1.099 2.586-3.531 4.262-6.203 4.262h-4.367zM55.241 25H21.759c-2.766 0-5.022-2.242-5.022-5v-6.668c0-2.754 2.256-5 5.022-5h4.367c1.341 0 2.534-.851 3.119-2.227A10.037 10.037 0 0 1 38.5 0c4.045 0 7.678 2.398 9.255 6.105.585 1.375 1.777 2.227 3.12 2.227h4.366c2.766 0 5.022 2.246 5.022 5V20c0 2.758-2.256 5-5.022 5z' fill='%2359DEBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M38.5 10a1.67 1.67 0 0 0-1.675 1.668c0 .918.749 1.664 1.675 1.664a1.67 1.67 0 0 0 1.675-1.664A1.67 1.67 0 0 0 38.5 10zm0 6.668c-2.77 0-5.022-2.246-5.022-5 0-2.758 2.252-5 5.022-5 2.77 0 5.022 2.242 5.022 5 0 2.754-2.252 5-5.022 5z' fill='%2359DEBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M72.818 100H4.182C1.875 100 0 98.133 0 95.832v-80c0-2.297 1.875-4.164 4.182-4.164h14.23c.926 0 1.676.742 1.676 1.664A1.67 1.67 0 0 1 18.412 15H4.182a.837.837 0 0 0-.835.832v80c0 .461.376.836.835.836h68.636a.838.838 0 0 0 .835-.836v-80a.837.837 0 0 0-.835-.832h-14.23a1.67 1.67 0 0 1-1.676-1.668c0-.922.75-1.664 1.676-1.664h14.23c2.307 0 4.182 1.867 4.182 4.164v80c0 2.3-1.875 4.168-4.182 4.168z' fill='%2359DEBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.825 65c-.444 0-.867-.172-1.181-.488l-6.697-6.668a1.657 1.657 0 0 1 0-2.356 1.675 1.675 0 0 1 2.365 0l5.332 5.309L45.531 49a1.674 1.674 0 0 1 2.342-.332c.742.55.89 1.594.337 2.332L38.167 64.332a1.687 1.687 0 0 1-1.22.664c-.044.004-.083.004-.122.004' fill='%2359DEBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M38.5 38.332c-10.153 0-18.412 8.227-18.412 18.336C20.088 66.773 28.346 75 38.5 75s18.412-8.227 18.412-18.332c0-10.109-8.258-18.336-18.412-18.336zm0 40c-11.997 0-21.763-9.719-21.763-21.664C16.737 44.719 26.502 35 38.5 35c11.998 0 21.763 9.719 21.763 21.668 0 11.945-9.765 21.664-21.763 21.664z' fill='%2359DEBB'/%3E%3C/g%3E%3C/svg%3E");
}

.arcticmodal-container_i2 {
  padding: 20px;
}
@media (max-width: 767px) {
  .arcticmodal-container_i2 {
    padding: 0;
  }
  .arcticmodal-container_i2 {
    vertical-align: top;
  }
}
.legacy-warning {
  display: none;
  background-color: #FF5722;
  color: white;
}

  .no-cssgrid .legacy-warning {
    display: block;
  }
.legacy-warning__text {
  margin-right: 10px;
}
.legacy-warning__close {
  position: absolute;
  right: 20px;
  top: 15px;
}
.legacy-warning__close svg {
  fill: white;
  width: 16px;
  height: 16px;
}
.legacy-warning .container {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.no-cssgrid .header__bottom {
    padding-bottom: 70px;
  }
.no-cssgrid .slider__content {
    display: block;
  }
@media (min-width: 768px) {
    .no-cssgrid .slider__items {
      display: block;
    }
    .no-cssgrid .slider__item {
      float: left;
      width: 33.333%;
    }
}

/*
  &__art-photo {
    display: block;
  }
  &__art-photo div {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 56px;
  }
  #art-curve {
    display: none;
  }
  &__biobank {
    display: none;
  }*/
  .no-cssgrid .business-first__art-cnt {
    display: none;
  }
  .no-cssgrid .business-first__text {
    margin-bottom: 30px;
  }
@media (min-width: 1200px) {
    .no-cssgrid .business-first__slider {
      display: block;
    }
    .no-cssgrid .business-first__slide {
      float: left;
      margin: 0 0.5%;
      width: 19%;
    }
    .no-cssgrid .business-first__slide:before {
        left: -10px;
        width: 10px;
    }
    .no-cssgrid .business-first__slide > div {
        display: block;
    }
}

@media (min-width: 1200px) {
    .no-cssgrid .page-business .header__wrap {
        height: 665px
    }
}
@media (min-width: 1200px) {
    .no-cssgrid .research__slider {
      display: block;
    }
    .no-cssgrid .research__slider::after {
        display: block;
        content: "";
        clear: both;
    }
    .no-cssgrid .research__slide {
      float: left;
      margin: 0 0.5%;
      width: 19%;
    }
    .no-cssgrid .research__slide:before {
        left: -10px;
        width: 10px;
    }
    .no-cssgrid .research__slide > div {
        display: block;
    }
}
@media (min-width: 1200px) {
    .no-cssgrid .intersection .container {
      display: block;
    }
    .no-cssgrid .intersection .container div:first-child {
        float: left;
        width: 400px;
    }
}
.no-cssgrid .intersection li {
    display: block;
    padding-top: 44px;
}
.no-cssgrid .intersection li:last-child {
    padding-top: 0;
}
@media (min-width: 1200px) {
    .no-cssgrid .business-s6__carousel {
      display: block;
    }
    .no-cssgrid .business-s6__carousel::after {
        display: block;
        content: "";
        clear: both;
    }
    .no-cssgrid .business-s6__item-wrap {
      float: left;
      width: 366px;
      margin-left: 30px;
    }
    .no-cssgrid .business-s6__item-wrap:first-child {
        margin-left: 0;
    }
}
@media (min-width: 1200px) {
    .no-cssgrid .business-s7 .container {
      display: block;
    }
    .no-cssgrid .business-s7 .container::after {
        display: block;
        content: "";
        clear: both;
    }
    .no-cssgrid .business-s7 .container > img {
        float: left;
        margin-right: 30px;
    }
    .no-cssgrid .business-s7__text {
      margin-top: 30px;
    }
}
@media (min-width: 1200px) {
    .no-cssgrid .job-s2__slider {
      display: block;
      height: 565px;
    }
    .no-cssgrid .job-s2__slide {
      display: block;
      margin-bottom: 0;
      width: 50%;
      height: 50%;
      float: left;
      padding: 10px;
    }
    .no-cssgrid .job-s2__slide-content {
      height: 100%;
    }
}
@media (min-width: 1200px) {
    .no-cssgrid .science-s2__slider {
      display: block;
    }
    .no-cssgrid .science-s2__slider::after {
        display: block;
        content: "";
        clear: both;
    }
    .no-cssgrid .science-s2__slide {
      margin-left: 1%;
      margin-right: 1%;
      width: 30%;
      float: left;
    }
    .no-cssgrid .science-s2__slide-content {
      min-height: 300px;
    }
}
@media (min-width: 1200px) {
    .no-cssgrid .students-s2__slider {
      display: block;
    }
    .no-cssgrid .students-s2__slide {
      width: 50%;
      height: 50%;
      padding: 5px;
      float: left;
    }
}
.no-cssgrid .students-s3__paper {
    display: none;
  }
@media (min-width: 1200px) {
    .no-cssgrid .students-s3__items {
      display: block;
    }
    .no-cssgrid .students-s3__items::after {
        content: '';
        display: block;
        clear: both;
    }
    .no-cssgrid .students-s3__item {
      width: 25%;
      float: left;
      margin-right: 35px;
    }
}
@media (min-width: 1200px) {
    .no-cssgrid .slider-1__slider {
      display: block;
    }
    .no-cssgrid .slider-1__slider::after {
        display: block;
        content: "";
        clear: both;
    }
    .no-cssgrid .slider-1__slide {
      padding: 0;
      float: left;
      display: block;
      width: 30%;
      margin: 0 1%;
    }
}
@media (min-width: 1200px) {
    .no-cssgrid .boss.container {
        display: block;
        padding-left: 550px;
        min-height: 760px;
        position: relative;
    }
    .no-cssgrid .boss__col1 {
      position: absolute;
      left: 0;
    }
}
@media (min-width: 1200px) {
    .no-cssgrid .translational-first__circle--content {
        width: 1500px;
        height: 1500px;
        top: -328px;
        left: -300px
    }
}
/*
  https://emojipedia.org/apple/
*/
.emoji {
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: baseline;
  width: 72px;
  height: 72px;
}
.emoji--36 {
  width: 36px;
  height: 36px;
}
.emoji--18 {
  width: 18px;
  height: 18px;
}
.emoji-index-finger-top {
  background-image: url(src/img/emoji/emoji-index-finger-top.png);
}
.emoji-ok {
  background-image: url(src/img/emoji/emoji-ok.png);
}
.emoji-biceps {
  background-image: url(src/img/emoji/emoji-biceps.png);
}
.emoji-microscope {
  background-image: url(src/img/emoji/emoji-microscope.png);
}
.emoji-school {
  background-image: url(src/img/emoji/emoji-school.png);
}
.emoji-heart {
  background-image: url(src/img/emoji/emoji-heart.png);
}
.emoji-globe {
  background-image: url(src/img/emoji/emoji-globe.png);
}
.emoji-graph-red-increase {
  background-image: url(src/img/emoji/emoji-graph-red-increase.png);
}
.emoji-graduation-cap {
  background-image: url(src/img/emoji/emoji-graduation-cap.png);
}
.emoji-house-with-garden {
  background-image: url(src/img/emoji/emoji-house-with-garden.png);
}
.emoji-hospital {
  background-image: url(src/img/emoji/emoji-hospital.png);
}
.emoji-money-bag {
  background-image: url(src/img/emoji/emoji-money-bag.png);
}
.emoji-open-book_1f4d6 {
  background-image: url(src/img/emoji/open-book_1f4d6.png);
}
.emoji-scroll_1f4dc {
  background-image: url(src/img/emoji/scroll_1f4dc.png);
}
.emoji-classical-building_1f3db {
  background-image: url(src/img/emoji/classical-building_1f3db.png);
}
.emoji-thumbs-up {
  background-image: url(src/img/emoji/thumbs-up.png);
}
.emoji-flag-uk {
  background-image: url(src/img/emoji/flag-uk.png);
}
.emoji-flag-ru {
  background-image: url(src/img/emoji/flag-ru.png);
}
.emoji-page-with-curl_1f4c3 {
  background-image: url(src/img/emoji/page-with-curl_1f4c3.png);
}
.emoji-lower-left-ballpoint-pen_1f58a {
  background-image: url(src/img/emoji/lower-left-ballpoint-pen_1f58a.png);
}
.emoji-closed-book_1f4d5 {
  background-image: url(src/img/emoji/closed-book_1f4d5.png);
}
.emoji-money-with-wings_1f4b8 {
  background-image: url(src/img/emoji/money-with-wings_1f4b8.png);
}
.emoji-handshake_1f91d {
  background-image: url(src/img/emoji/handshake_1f91d.png);
}
.emoji-syringe_1f489 {
  background-image: url(src/img/emoji/syringe_1f489.png);
}
.emoji-television_1f4fa {
  background-image: url(src/img/emoji/television_1f4fa.png);
}
.emoji-rocket_1f680 {
  background-image: url(src/img/emoji/rocket_1f680.png);
}
